@font-face {
  font-family: "iconfont"; /* Project id 3805654 */
  src: url('iconfont.woff2?t=1670073537790') format('woff2'),
       url('iconfont.woff?t=1670073537790') format('woff'),
       url('iconfont.ttf?t=1670073537790') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zaixianxuanfang:before {
  content: "\e605";
}

.icon-shouye-zhihui:before {
  content: "\e606";
}

.icon-yanziwancheng:before {
  content: "\e607";
}

.icon-bankuailundong:before {
  content: "\e696";
}

.icon-add:before {
  content: "\e664";
}

.icon-add-circle:before {
  content: "\e665";
}

.icon-arrow-up-circle:before {
  content: "\e666";
}

.icon-arrow-right-circle:before {
  content: "\e667";
}

.icon-arrow-down:before {
  content: "\e668";
}

.icon-arrow-right:before {
  content: "\e669";
}

.icon-bottom:before {
  content: "\e66a";
}

.icon-eye-close:before {
  content: "\e66f";
}

.icon-home:before {
  content: "\e674";
}

.icon-modular:before {
  content: "\e678";
}

.icon-navigation:before {
  content: "\e67a";
}

.icon-shangchuantupian:before {
  content: "\e608";
}

.icon-guanbi:before {
  content: "\e609";
}

.icon-tianxuangouren:before {
  content: "\e60a";
}

.icon-fanhui:before {
  content: "\e60b";
}

.icon-xihuan:before {
  content: "\e60c";
}

.icon-cangchucangku:before {
  content: "\e98c";
}

.icon-bingtutubiao:before {
  content: "\e98d";
}

